@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap');
.outside{
      justify-content: center;
      align-items: center;
      display: flex;
}
/*.inside{
      width:400px;
      height:400px;
      padding:35px;
      box-sizing: border-box;
      justify-content: center;
      flex-direction: column;
      border: 1px solid rgb(168, 168, 168);
      border-radius: 6px;
      margin:35px 75px;
      transition: .2s ease;
}
.inside:hover{
      box-shadow: black 0.2em 0.3em 0.3em;
      background-color: white;
}*/
.inside{
      width:400px;
      height:50%;
      padding:35px;
      margin:35px 75px;

      background-color: #fff;
      border: 0;
      border-radius: 6px;
      border-bottom: 4px solid #d9d9d9;
      font-size: 1rem;
      text-align: center;
      text-decoration: none;
      box-shadow: 0px 5px 10px #d9c3a8;
      transition: all 0.3s;
}
.inside:hover {
      box-shadow: 0px 15px 25px -5px #d9c3a8;
      transform: scale(1.03);
}
.inside:active {
      box-shadow: 0px 4px 8px #d9c3a8;
      transform: scale(0.98);
}
img   {
      width: 100%;
      height: auto;
}
.ouremail{
      text-decoration: none;
      transition: .2s ease;
}
.ouremail:hover{
      color:#D94600;
}
.floattitle{
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
      left: 0;
      height:65px;
      background-color: #CC3333;
      font-size: 20px;
      color:white;
      opacity: 0.9;
}
.boldtext{
      font-weight: bold;
}

@media(max-width:960px){
      .outside{
            display: block;
      }
      .inside{
            margin:25px 10%;
            overflow:visible;
            height:auto;
            width:70%;
      }
}

@media(max-width:600px){

      .floattitle{
            position: relative;
      }
      #qqq{
            line-height: 65px;
      }
}