@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap');
.outside{
      justify-content: center;
      align-items: center;
      display: flex;
}
.inside{
      width:400px;
      height:400px;
      padding:35px;
      box-sizing: border-box;
      justify-content: center;
      flex-direction: column;
      border: 1px solid rgb(168, 168, 168);
      border-radius: 6px;
      margin:35px 75px;
      transition: .2s ease;
}
.inside:hover{
      box-shadow: black 0.2em 0.3em 0.3em;
      background-color: white;
}
img   {
      width: 100%;
      height: auto;
}
.ouremail{
      text-decoration: none;
      transition: .2s ease;
}
.ouremail:hover{
      color:#D94600;
}
.floattitle{
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
      left: 0;
      height:65px;
      background-color: #CC3333;
      font-size: 20px;
      color:white;
      opacity: 0.9;
}
.boldtext{
      font-weight: bold;
}


@media(max-width:600px){
      .outside{
            display: block;
      }
      .inside{
            margin:0;
            margin-top: 25px;
            overflow:visible;
            height:auto;
            width:100%;
      }
      .floattitle{
            position: relative;
      }
      #qqq{
            line-height: 65px;
      }
}